{% load static %}
<html>
    <head>
        <title>Тесты</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div class="page-header">     
            {% if user.is_authenticated  %}
                 <p class="top-menu"> <small> <a href="{% url 'logout' %}?next={% url 'start' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"><h4>Пользователь {{ user.username }} </h4> </a></small></p>
            {% else %}
                <a href="{% url 'login' %}?next={% url 'start' %}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></a>
                <a href="{% url 'register' %}?next={% url 'start' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span>
            {% endif %}
             <h1><a href="/">Тесты онлайн</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div >
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>