{% extends "tests/test_suite.html" %}

{% block content %}
					{% if user.is_authenticated %}
                        <h1 align="left">Выберите тест из следующих наборов:</h1>
                        <hr>
                            <ul>
                            {% for tag in tags_list %}
                               <li><h2>{{ tag.name }}</h2></li>
                                <ul>
                                    {% for test in tag.test_set.all %}
                                    <li><a href="{% url 'questions' test.id %}">{{ test.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                            </ul>
                    {% else %}
                             <h1 align="center">Для прохождения тестов необходимо авторизоваться</h1>
                    {% endif %}
{% endblock %}